main {
  width: 97%;
  margin:auto;
}
body {
  background-image: url("Images/background.jpg");
  background-attachment: fixed;
  width: 99%;
  height: 100%;
}
#wrapper {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
#navigation {
  padding: 15px;
}
nav { 
  font-family: fantasy;
  font-weight: bold; 
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EDF5FE;
  border-bottom: 1px solid #056563;
  border-radius: 10px;
  border: 10px solid black;
  box-shadow: 5px 5px 10px 0px #020202;
}
h1, h2 {
  color:#020202;
  background-color: lightgray;
  font-family: fantasy;
  border-radius: 100px;
  border: 10px solid black;
  box-shadow: 5px 5px 10px 0px #020202;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: 30px;
  text-align: left;
  padding: 10px;
}
h4 {
  font-family: fantasy;
  text-align: right;
  font-size: 14px;
  color:#020202;
  background-color: lightgray;
  box-shadow: 5px 5px 10px 0px #020202;
  border-radius: 100px;
  border: 10px solid black;
  padding: 10px;
}
p {
  text-align: center;
  font-size: 18px;
  color:#020202;
  font-family: inherit;
  background-color: #EDF5FE;
  box-shadow: 5px 5px 10px 0px #020202;
  border-radius: 15%;
  border: 10px solid black;
  padding: 50px;
}
#p1 {
  height: 100%;
  width: 100%;
}
#p2 {
  height: 100%;
  width: 90%;
}
.para_1 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}
.Selfie {
  margin-left: 10%;
  height: 80%;
  width: 80%;
  border: 10px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #020202;
  float: left;
}
.Coding {
  width: 55%;
  height: 100%;
  border: 10px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #020202;
}
iframe {
  background: #EDF5FE;
  width: 99%;
  height: 1000px;
  box-shadow: 5px 5px 10px 0px #020202;
  border: 10px solid black;
  border-radius: 10px;
}
iframe:focus {
  outline: none;
}
iframe[seamless] {
  display: block;
}
ol {
  background-color: #EDF5FE;
  box-shadow: 5px 5px 10px 0px #020202;
  border: 10px solid black;
  border-radius: 10px;
}
caption {
  background-color: whitesmoke;
  font-family: fantasy; 
  font-size: 50px;
  font-weight: bold;
  padding: 5px; 
  color: red; 
  text-shadow: 5px 5px black;
  border: 10px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #020202;
}
table {
  margin: auto; 
  border: 10px solid black;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #020202;
}
td, th {
  background-color: lightgray;
  padding: 25px;
  font-family: sans-serif;
}
tbody {
  background-color: lightgray;
}
tr:hover {
  background-color : red
}
td:hover {
  background-color : white
}
.form {
  background-color: lightgray;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border: 10px solid #ccc;
  outline: 10px solid black;
  border-radius: 10px;
  box-shadow: 15px 5px 10px 0px #020202;
}
@media screen and (orientation: landscape) {
  body {
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media screen and (orientation: portrait) {
  body {
    background-image: url("Images/mobile_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .Selfie {
    margin-left: 10%;
    height: 58%;
    width: 70%;
    border: 10px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #020202;
    float: left;
  }
    ol {
    height: 150px;
    width: 400px;
  }

  /* Yes I know i could've just used p2 rather than creating different ids, I created
  different ids so incase in the future I decide to add more to those paragraphs it
  would be easier to make sure they fit in perfectly.*/

  #p2 {
    height: 350px;
    width: 400px;
  }
  #p3 {
    height: 350px;
    width: 400px;
  }
  #p4 {
    height: 350px;
    width: 400px;
  }
  #p5 {
    height: 350px;
    width: 400px;
  }
  #p6 {
    height: 350px;
    width: 400px;
  }
  #p7 {
    height: 350px;
    width: 400px;
  }
  #p8 {
    height: 350px;
    width: 400px;
  }
  #p9 {
    height: 350px;
    width: 400px;
  }
}